{% extends '::base.html.twig' %}

{% block content -%}




    <div class="section">
        <div class="container">
            <div class="row service-wrapper-row">
                <div class="col-sm-8">
                    <h3>Neoxygen.io is alive !</h3>
                    <p>
                        We are pleased to announce you that Neoxygen is alive. We are aimed to bridge PHP &amp; Neo4j by providing powerful components coveraging your needs.
                    </p>
                </div>
            </div>
            <hr/>

            {% for post in posts %}
            <div class="row service-wrapper-row">
                <div class="col-sm-8">
                    <h3><a href="{{ path('news_show', {'id': post.id, 'slug':post.slug}) }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                    <p>
                        {{ post.body|markdown }}
                    </p>
                </div>
            </div>
                <hr />
            {% endfor %}
        </div>
    </div>
    {% endblock %}
