{% extends '::base.html.twig' %}

{% block title %}
 | News
{% endblock %}

{% block topmenu %}
    {% set active = 'news' %}
{% endblock %}

{% block content -%}




    <div class="section">
        <div class="container">

            {% for post in posts %}
            <div class="row service-wrapper-row">
                <div class="col-sm-8">
                    <h3><a href="{{ path('news_show', {'slug':post.slug}) }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                    <p>
                        {{ post.body|markdown }}
                    </p>
                </div>
            </div>
                <hr />
            {% endfor %}
        </div>
    </div>
    {% endblock %}
